[role="chrono"] {
  text-align: center;
  white-space: nowrap;
  word-spacing: -99rem;
  height: 6.6rem; /* 22.6rem; */
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.25);
  background: white;
}

/*[role="chrono"]:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  pointer-events: none;
  background: url(images/ui/shadow.png) repeat-x left top padding-box, url(images/ui/shadow-invert.png) repeat-x left bottom;
}*/

[role="chrono"] > p {
  background: #00A5C5 no-repeat center center;
  height: 4.6rem;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 50%;
  right: 0;
  z-index: 5;
  margin: -2.3rem 0 0;
  pointer-events: none;
}

[role="chrono"] > p span {
  width: -moz-calc(100% / 3);
  background: transparent no-repeat 55% 47%;
  background-size: 160% auto;
  margin: -9rem 0;
  padding: 9rem 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  height: 100%;
}

[role="chrono"] > div {
  position: absolute;
  left: -moz-calc((100%) + 10px);
  width: -moz-calc((100% / 3) - 1px);
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  height: 22.6rem; 
  border-right: solid 1px #666;
  border-left: solid 1px #000;
}

[role="chrono"] [role="listbox"] {
  position: relative;
  overflow: auto;
  margin: 0 -0.8rem 0 -1rem;
  padding: 0;
  max-height: 100%;
}

[role="chrono"] [role="listbox"] li {
  margin: 0;
  padding-bottom: 1px;
  list-style: none;
  position: relative;
  color: #fff;
  font-family: 'Open Sans', Sans-serif;
  font-weight: lighter;
  font-size: 2.2rem;
  color: #fff;
  transition: background 0.2s ease;
  height: 4.6rem;
  line-height: 4.6rem;
  border: 0;
}

[role="chrono"] [role="listbox"] li:active {
  background: #00ABCC;
  color: #fff!important;
}

[role="chrono"] [role="listbox"] li a {
  text-indent: 0.5rem;
  outline: none;
  text-decoration: none;
  display: block;
  color: #fff;
}

[role="chrono"] li:first-child {
  margin-top: 9rem;
}

[role="chrono"] li:last-child {
  margin-bottom: 9rem;
}

[role="chrono"] div:first-of-type {
  border-left: none;
}

[role="chrono"] .mode {
  border-right: none;
  background: url(images/ui/pattern.png) repeat left top;
}
